{% extends 'choreoindex.html'%}
{% block body%}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #D7BDE2;
  color: white;
}
</style>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
  <center> <h4>
    Manage Troupe
    </h4></center>
    <center>
      <br><br>
  <table id="customers">
    <tr>
      <th scope="col">Troupe</th>
       <th scope="col">Category</th>

      <th scope="col">Contact</th>
       <th scope="col">Image</th>
       <th scope="col">Member</th>
       <th scope="col">Days</th>

      <th scope="col">Email</th>
      <th scope="col">Fees</th>
      <th scope="col">&nbsp;</th>
    </tr>{% for i in val %}
    <tr>
      <td height="32">{{i[1]}}&nbsp;</td>
      <td>&nbsp;{{i[10]}}</td>
      <td>&nbsp;{{i[3]}}</td>
      <td>&nbsp;<img src="./static/troupe/{{i[9]}}" width="100" height="100"></td>
       <td>{{i[7]}}&nbsp;</td>
       <td>{{i[8]}}&nbsp;</td>
      <td>{{i[4]}}&nbsp;</td>
      <td>&nbsp;{{i[5]}}</td>
      <td><p><a href="update_troupe?id={{i[0]}}">Edit</a></p>
      <p><a href="delete_troupe?id={{i[0]}}">Delete</a></p></td>
    </tr>{% endfor %}
  </table>
</form><br><br><br><br><br>
</body>
<!--</html>-->
{% endblock %}